.campus{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.campus h1{
    font-size: 36px;
    font-weight: 600;
}
.campus p{
    color: black;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus_column{
    display: flex;
    justify-content: space-between;
}
.campus_column .box{
    width: 225px;
    background-color: #fff;
    box-shadow: 0, o, 5px #bababa;
    overflow: hidden;
    position: relative;
    margin: 40px auto;
}
.campus_column .box img{
    width: 100%;
    height: auto;
    display: block;
}
.campus_column .box .containerbox{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.campus_column .box .containerbox:before, 
.campus_column .box .containerbox:after{
    content: "";
    width: 95%;
    height: 47%;
    background-color: rgba(255, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
    opacity: 0;
}
.campus_column .box .containerbox:before{
    top: -20%;
}
.campus_column .box .containerbox:after{
    bottom: -20%;
}
.campus_column .box:hover .containerbox:before{
    top: 3%;
    opacity: 0.8;
}
.campus_column .box:hover .containerbox:after{
    bottom: 3%;
    opacity: 0.8;
}
.campus_column .box .content{
    width: 100%;
    position: absolute;
    height: 45px;
    top: 0;left: 0;right: 0;bottom: 0;margin: auto;
    z-index: 1;
    text-align: center;
    font-size: 25px;
    transform: rotate(90deg);
    opacity: 0;
    transition: 0.5s;
}
.campus_column .box:hover .content{
    opacity: 1;
    transform: rotate(0deg);
}
@media(max-width: 700px){
    .campus_column{
        display: block;
    }
}